{% extends 'adminapp/layout.html' %}
{% load static %}

{% block content %}
<div class="product_read">
    <div class="product_name">
        <h1>{{ object.name|title }}</h1>
    </div>
    <img src="/media/{{ object.image|default:'products_images/default.jpg' }}"
         alt="{{ object.name }}">
    <div class="summary">
        <b>цена</b>
        <p>{{ object.price }} руб</p>
        <b>количество</b>
        <p>{{ object.quantity }}</p>
        <b>в каталоге</b>
        <p>{% if not object.is_deleted %}да{% else %}нет{% endif %}</p>
        <p>
            <button>
                <a href="{% url 'admin_panel:product_update' object.pk %}">
                    редактировать
                </a>
            </button>
        </p>
        <p>
            <button>
                <a href="{% url 'admin_panel:product_delete' object.pk %}">
                    удалить
                </a>
            </button>
        </p>
        <p>
            <button>
                <a href="{% url 'admin_panel:products' object.category.pk %}">
                    назад
                </a>
            </button>
        </p>
    </div>
    <div class="product_desc">
        <b>краткая информация</b>
        <p>{{ object.short_desc }}</p>
        <br><br>
        <b>подробная информация</b>
        <p>{{ object.description }}</p>
    </div>
</div>
{% endblock %}