{% extends 'layout.html' %}
{% block title %}{{ title|capfirst }}{% endblock %}
{% load static %}

{% block content %}


<div class="hero-white">
    {% include 'includes/inc_main_menu.html' %}
</div>

<div class="details">
    <div class="links clearfix">
        {% include 'includes/inc_categories_menu.html' %}
    </div>

    <div class="details-products">
        <div class="details-slider">
            <div class="slider-product">
                <img src="/media/{{ hot_product.image }}"
                     alt="{{ product.short_desc }}">
            </div>
            <!--<div class="slider-control">
                <div class="block">
                    <a href="#"><img src="/media/{{ hot_product.image }}"
                                     alt=""></a>
                </div>
                <div class="block">
                    <a href="#"><img src="/media/{{ hot_product.image }}"
                                     alt=""></a>
                </div>
                <div class="block">
                    <a href="#"><img src="/media/{{ hot_product.image }}"
                                     alt=""></a>
                </div>
            </div>-->

        </div>
        <div class="description">
            <h3 class="big-bold">{{ hot_product.name }}</h3>
            <h3 class="red">горячее предложение</h3>
            <p class="price"> {{ hot_product.price }} <span>руб</span></p>
            <a href="{% url 'basket:add' hot_product.pk %}" class="red-button">
                заказать</i>
            </a>
            <div class="description-text">
                <p>{{ hot_product.description }}</p>
            </div>
        </div>
    </div>

    <div class="related">

        <div class="title clearfix">
            <h2>Похожие товары</h2>
            <a class="explore"
               href="{% url 'products:category' 0 1 %}">показать все
                <img src="{% static '/img/arrow.png' %}" alt=""></a>
        </div>
        <div class="related-products clearfix">
            {% for product in same_products %}
            <div class="block">
                <a href="{% url 'products:product' product.pk %}"><img
                        class="related_block"
                        src="/media/{{ product.image }}"
                        alt="{{ product.short_desc }}">
                    <div class="text">
                        <img src="{% static '/img/icon-hover.png' %}" alt="img">
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.description }}</p>
                    </div>
                </a>
                <a href="{% url 'basket:add' product.pk %}" class="red-button">
                    заказать
                </a>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}